@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #529FFB;
  --color-secondary: #F4BC5F;
  /* --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;*/
  --color-accent: #626681;
}

*{
  font-family: "Inter", sans-serif;
}

.logo-font{
  font-family: "Fjalla One", sans-serif;
}
